@model  PagedList.IPagedList<EntityLayer.Concrate.Writer>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">

            </div>
        </div>
    </div>
</section>

<section class="content">

    <div class="card card-solid mb-0">
        <div class="card-header">
            <h3 class="card-title">ACTIVE WRITERS PAGE</h3>

            <div class="card-tools">


                <a href="/Writer/AddWriter/" class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i> Add New Writer</a>


            </div>
        </div>
        <div class="clearfix mt-2 mr-3">
            <div class="float-right">
                <div class="input-group input-group-sm">

                    <input type="text" id="a" class="form-control searchText" placeholder="Search Writer">
                    @*@using (Html.BeginForm("Index", "Writer", FormMethod.Post))
                        {

                            @Html.TextBox("searchForWriter", new { onkeyup = "function () { alert(amkuiea) }" })
                            <input type="submit" value="Search"/>
                        }*@
                    @*@Html.TextBoxFor(x=>x. , new { id = "quantityBox", onkeyup = "CallTxtEvent()" })*@



                    @*<input type="text" class="form-control" placeholder="Search Writer">*@
                    @*<div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>*@
                </div>
            </div>


        </div>
        <div id ="DivisionForWriters" class="card-body pb-0 pt-2">




            <div class="row d-flex align-items-stretch">

                @foreach (var writer in Model)
                {
                    <div id="ContentDiv" class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @writer.WriterTitle
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 id="WriterNameSurname" class="lead"><b>@writer.WriterName @writer.WriterSurname</b></h2>
                                        <p class="text-muted text-sm"><b>About: </b> @writer.WriterAbout </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fas fa-envelope"></i></span> @writer.WriterMail</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="@writer.WriterPicture" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="/Heading/Index/@writer.WriterID" class="btn btn-sm bg-teal">
                                        <i class="fas fa-heading"></i> Titles
                                    </a>
                                    <a href="#" class="btn btn-sm bg-secondary">
                                        <i class="fas fa-heading"></i> Entries
                                    </a>
                                    <a href="/Writer/UpdateWriter/@writer.WriterID" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user-edit"></i>
                                        Edit
                                    </a>
                                    <a id="btnBanWriter" data-id="@writer.WriterID" class="btn btn-sm btn-danger">
                                        <i class="fas fa-ban"></i>
                                        Ban
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

  

</section>

<div class="d-flex justify-content-center">
    <div class="card-footer bg-light mx-auto">
        <nav aria-label="Contacts Page Navigation">
            <ul class="pagination justify-content-center m-0">
                <li> @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", "Writer", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)</li>
                Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount entries
            </ul>
        </nav>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".searchText").on("keyup", function () {
        var txtEnter = $(this).val().toLowerCase();
        var AllContents = document.querySelectorAll("#ContentDiv");
      
        AllContents.forEach(function (eachContent) {

            var eachWriterNameSurname = eachContent.children[0].children[1].children[0].children[0].children[0].textContent.toLowerCase();

            if (eachWriterNameSurname.indexOf(txtEnter) === -1) {
                eachContent.setAttribute("style", "display : none !important");
            }
            else {
                eachContent.setAttribute("style", "display : block");

            }

        })




    })
</script>