@model List<EntityLayer.Concrate.Writer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                
            </div>
        </div>
    </div>
</section>


<section class="content">
   
    <div class="card card-solid">
        <div class="card-header">
            <h3 class="card-title">WRITERS PAGE</h3>

            <div class="card-tools">


                <a href="/Writer/AddWriter/" class="btn btn-outline-secondary"><i class="fas fa-plus-circle"></i> Add New Writer</a>


            </div>
        </div>
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @foreach (var writer in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @writer.WriterTitle
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@writer.WriterName @writer.WriterSurname</b></h2>
                                        <p class="text-muted text-sm"><b>About: </b> @writer.WriterAbout </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fas fa-envelope"></i></span> @writer.WriterMail</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="@writer.WriterPicture" alt="" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="#" class="btn btn-sm bg-teal">
                                        <i class="fas fa-heading"></i>eadings
                                    </a>
                                    <a href="/Writer/UpdateWriter/@writer.WriterID" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user-edit"></i> Edit Profile
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

</section>
