@model List<EntityLayer.Concrate.Message>

@{
    ViewBag.Title = "Sendbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>MESSAGEBOX</h1>
            </div>

        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        @Html.Action("GetSideBarForMessage", "Contact")

        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Sendbox</h3>
                </div>

                <div class="card-body">
                    <table class="table tblMessageBox">
                        <thead>
                            <tr>

                                <th style="width: 20%">To</th>
                                <th style="width: 55%">Subject - Content</th>

                                <th style="width: 10%">Date</th>
                                <th class="nosort" style="width: 3%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var message in Model)
                            {
                                <tr>

                                    <td class="mailbox-name">@message.MessageReciever</td>
                                    <td class="mailbox-subject">

                                        @if (message.MessageContent.Length < 50)
                                        {
                                            <a href="/Message/ReadMessageFromAdmin/@message.MessageID"> <p>@message.MessageSubject - @message.MessageContent</p></a>

                                        }
                                        else
                                        {
                                            <a href="/Message/ReadMessageFromAdmin/@message.MessageID"> <p>@message.MessageSubject - @message.MessageContent.Substring(0, 50) ...</p></a>


                                        }
                                    </td>
                                    <td class="mailbox-date"><b>@(((DateTime)message.MessageDate).ToString("yyyy-MM-dd"))</b></td>
                                    <td>
                                        <div class="btn-group">
                                            <a href="/Message/NewMessage/@message.MessageID" class="btn btn-sm" title="Reply"><i class="fas fa-reply"></i></a>
                                            <a class="btn btn-sm" href="/Message/DeleteMessage/@message.MessageID"><i class="fas fa-trash"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
