@model EntityLayer.Concrate.Writer
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

    <div class="">
        <div class="main-body">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@Model.WriterPicture" alt="noimage" class="rounded-circle p-1 bg-secondary" width="210">
                                <div class="mt-3">
                                    <h4>@Model.WriterName @Model.WriterSurname</h4>
                                    <p class="text-secondary mb-1">@Model.WriterTitle</p>


                                </div>
                            </div>
                            @using (Html.BeginForm("SaveChanges","WriterProfile",FormMethod.Post))
                            {

                            
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Name</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x=>x.WriterName, new {@class="form-control" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Surname</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x => x.WriterSurname, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x => x.WriterMail, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Password</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x => x.WriterPassword, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Title</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x => x.WriterTitle, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Image</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextBoxFor(x => x.WriterPicture, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">About</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.TextAreaFor(x => x.WriterAbout, 5,20,new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 text-secondary">
                                    @Html.HiddenFor(x=>x.WriterID)
                                    <input type="submit" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                @*<div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="text" class="form-control" value="John Doe">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Email</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="text" class="form-control" value="john@example.com">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="text" class="form-control" value="(239) 816-9029">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="text" class="form-control" value="(320) 380-4539">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-sm-2">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="text" class="form-control" value="Bay Area, San Francisco, CA">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2"></div>
                                <div class="col-sm-10 text-secondary">
                                    <input type="button" class="btn btn-primary px-4" value="Save Changes">
                                </div>
                            </div>
                        </div>
                    </div>
             </div>*@
            </div>
        </div>
    </div>
