@model List<EntityLayer.Concrate.Message>

@{
    ViewBag.Title = "GetDeletedMessages";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

@{ string isRead = "", bgColor = ""; }

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>MESSAGEBOX</h1>
            </div>

        </div>

    </div>
</section>

<section class="content">
    <div class="row">
        @Html.Action("GetSideBarForUserMessage", "WriterMessage")


        <div class="col-md-9">
            <div class="card card-primary card-outline">
                <div class="card-header">
                    <h3 class="card-title">Trash</h3>
                    <a href="/WriterMessage/DeleteAllMessages/" class="btn btn-default btn float-right"><i class="fas fa-broom"></i> Click to clear trash</a>

                </div>

                <div class="card-body">

                    <table class="table tblMessageBox">
                        <thead>
                            <tr>

                                <th style="width: 15%">From</th>
                                <th style="width: 20%">To</th>
                                <th style="width: 55%">Subject - Content</th>

                                <th style="width: 10%">Date</th>
                                <th class="nosort" style="width: 3%"> Del Permanent</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var message in Model)
                            {
                                if (message.IsMessageRead == false)
                                {
                                    isRead = "font-weight-bold";
                                    bgColor = "";

                                }
                                else
                                {
                                    isRead = "";
                                    bgColor = "background-color: #E6E6E6";
                                }

                                <tr style="@bgColor" class=@isRead>

                                    <td>@message.MessageSender</td>
                                    <td>@message.MessageReciever</td>
                                    @*<td class="mailbox-name"><a href="/Message/ReadMessageFromAdmin/@message.MessageID">@message.MessageSender</a></td>*@
                                    <td class="mailbox-subject ">
                                        @if (message.MessageContent.Length < 50)
                                        {
                                            <p>@message.MessageSubject - @message.MessageContent</p>
                                        }
                                        else
                                        {
                                            <p>@message.MessageSubject - @message.MessageContent.Substring(0, 50) ...</p>
                                        }

                                    </td>

                                    <td class="mailbox-date ">@(((DateTime)message.MessageDate).ToString("yyyy-MM-dd"))</td>

                                    <td>
                                        <a class="btn btn-sm" href="/WriterMessage/DeleteMessage/@message.MessageID"><i class="fas fa-trash"></i></a>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>



            </div>

        </div>

    </div>

</section>
