@model EntityLayer.Concrate.Message
@{
    ViewBag.Title = "ReadMessageForWriter";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Compose</h1>
            </div>
            
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            @Html.Action("GetSideBarForUserMessage", "WriterMessage")
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">

                        <h3 class="card-title">Read Message</h3>
                        <div class="card-tools">
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Previous"><i class="fas fa-chevron-left"></i></a>
                            <a href="#" class="btn btn-tool" data-toggle="tooltip" title="Next"><i class="fas fa-chevron-right"></i></a>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="mailbox-read-info">
                            <h5>Message Subject : @Model.MessageSubject</h5>
                            <h6>
                                <i>
                                    @Model.MessageSender ->
                                    To: @Model.MessageReciever
                                </i>
                                <span class="mailbox-read-time float-right">@(((DateTime)Model.MessageDate).ToString("dd MMMM yyyy"))</span>
                                <br />
                                <span class="mailbox-read-time float-right">@(((DateTime)Model.MessageDate).ToString("HH:mm"))</span>
                            </h6>
                        </div>
                 
                        <div class="mailbox-controls with-border text-center">
                            <div class="btn-group">
                                <a href="/WriterMessage/DeleteMessage/@Model.MessageID" class="btn btn-default btn-sm" title="Delete">  <i class="far fa-trash-alt"></i></a>
                                <a href="/WriterMessage/NewMessage/@Model.MessageID" class="btn btn-default btn-sm" title="Reply"> <i class="fas fa-reply"></i></a>


                            </div>
                         
                        </div>
                  
                        <div class="mailbox-read-message">
                            <p>@Model.MessageContent</p>
                        </div>
                
                    </div>
           
                </div>
        
            </div>
  
        </div>
    </div>

</section>

