@model EntityLayer.Concrate.Category

@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using (Html.BeginForm("SaveCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
    
        @Html.Label("Category Adı")
        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        @Html.Label("Category Description")
        @Html.TextAreaFor(m => m.CategoryDescription, new { @class = "form-control" })

    </div>
    @Html.HiddenFor(m => m.CategoryID)
    <button class="btn btn-success">KAYDET</button>

}

